<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.study.article.repository.ArticleRepository">
	<insert id="writeNewArticle" parameterType="kr.co.study.article.dto.ArticleDTO">
		INSERT INTO ARTICLE (	USER_NAME,
								TITLE, 
								CONTENTS, 
								LIKES_COUNT, 
								READS_COUNT, 
								WRITE_DATE )
		VALUES (	
			#{userName},
			#{title},
			#{contents}',
			0,
			0,
			CURDATE() )
	</insert>
	
	<select id="getAllArticleList" resultType="kr.co.study.article.dto.ArticleDTO" >
		SELECT ARTICLE_ID articleId,
				USER_NAME userName,
				TITLE title,
				CONTENTS contents,
				LIKES_COUNT likesCount,
				READS_COUNT readsCount,
				WRITE_DATE writeDate
		FROM ARTICLE
	</select>

</mapper>